#card_info {
    top:10px;
    left:350px;
    position:absolute;
}

#description {
    width:320px;
    height:140px;
}

#flavor_text {
    width:320px;
    height:70px;
}

#notes {
    width:320px;
    height:70px;
}

.error {
    color:red;
}

.success {
    color:green;
}

.card_list {
    left:50px;
    position:relative;
    width:300px;
}

#sideboard {
    left:600px;
    top: 350px;
    position:absolute;
    width:600px;
}

#cards {
    width:700px;
}

#add_card_form {
    left:400px;
    top: 200px;
    position:absolute;
}

.deck_image {
    left:1000px;
    top: 250px;
    position:fixed;
}

.deck_search {
    left:1000px;
    top: 25px;
    position:fixed;
}
